.artFoodWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0 100px 0;
  position: relative;
  background-color: #FBF5EE;

  &Star {
    position: absolute;
    top: 10%;
  }

  &Photo {
    width: 632px;
    height: 816px;
    z-index: 2;
  }

  &Description {

  }
}

.artFoodDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  z-index: 2;

  &Title {
    font-size: 96px;
    font-weight: 800;
    line-height: 1;
    text-align: left;
    max-width: 650px;
    margin-bottom: 64px;
  }

  &Text {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    max-width: 866px;
  }

  &Btn {
    margin-top: 64px;
  }
}

.artFoodSliderArrowTop {
  margin-top: -1px;
  width: 99vw;
}

.artFoodSliderArrowBot {
  margin-bottom: -4px;
  width: 99vw;
}

.artFoodWrapperBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding: 100px 0 100px 0;
  background-color: #FBF5EE;

  &Photo {

  }

  &Description {

  }
}

.artFoodBarPhoto {
  width: 640px;
  height: 804px;
}

.artFoodBarDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;

  &Title {
    font-size: 96px;
    font-weight: 800;
    text-align: left;
    line-height: 1;
    max-width: 650px;
    margin-bottom: 64px;
    z-index: 2;
  }

  &Text {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    max-width: 866px;
    margin-bottom: 48px;
    z-index: 2;
  }

  &Star {
    position: absolute;
    left: -22%;
    z-index: 1;
  }
}

@media screen and (max-width: 640px) {
  .artFoodWrapper {
    flex-direction: column;
    padding: 5px 0 50px 0;

    &Star {
      position: absolute;
      top: 50%;
      left: -10%;
      max-width: 243px;
    }

    &Photo {
      width: 313px;
      height: 406px;
    }
  }

  .artFoodDescription {
    align-items: center;

    &Title {
      font-size: 28px;
      margin: 32px 0 16px 0;
    }

    &Text {
      font-size: 20px;
      text-align: center;
      max-width: 343px;
    }

    &Btn {
      margin-top: 35px;
    }
  }

  .artFoodSliderArrowTop {
    margin-top: -1px;
    width: 140vw;
  }

  .artFoodSliderArrowBot {
    margin-bottom: -5px;
    width: 140vw;
  }

  .artFoodWrapperBar {
    align-items: center;
    padding: 32px 0 50px 0;
    flex-direction: column;
  }

  .artFoodBarPhoto {
    width: 313px;
    height: 406px;
  }

  .artFoodBarDescription {
    flex-direction: column;
    align-items: center;

    &Title {
      font-size: 28px;
      margin: 32px 0 16px 0;
    }

    &Text {
      font-size: 20px;
      max-width: 327px;
      text-align: center;
      margin-bottom: 24px;
    }

    &Star {
      position: absolute;
      left: -25%;
      max-width: 243px;
    }
  }
}