.artFoodWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0 36px 0;

  &Photo {
    width: 632px;
    height: 816px;
  }

  &Description {

  }
}

.artFoodDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;

  &Title {
      font-size: 96px;
      font-weight: 800;
      text-align: left;
      max-width: 650px;
      margin-bottom: 64px;
  }

  &Text {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    max-width: 866px;
  }

  &Btn {
    margin-top: 64px;
  }
}

.artFoodWrapperBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 100px 0 100px 0;
  background-color: #FFE7C5;
  &Photo {

  }

  &Description {

  }
}

.artFoodBarPhoto {
  width: 640px;
  height: 804px;
}

.artFoodBarDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;

  &Title {
      font-size: 96px;
      font-weight: 800;
      text-align: left;
      max-width: 650px;
      margin-bottom: 64px;
  }

  &Text {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    max-width: 866px;
  }

  &Btn {
    margin-top: 64px;
  }
}