.wrapper {
  background-color: #FBF5EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.leftStar {
  position: absolute;
  left: -500px;
  top: -500px;
}

//.rightStar {
//  position: absolute;
//  right: -650px;
//  bottom: -450px;
//}

.title {
  font-size: 96px;
  font-weight: 800;
  margin: 120px 0 80px 0;
}

.list {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 160px;
}

.item {
  border-bottom: 2px solid #2E281D;

  &:first-child {
    border-top: 2px solid #2E281D;
  }

  .listDescription {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s, margin-bottom 0.3s;
    overflow: hidden;
    font-size: 28px;
    text-align: left;
    color: #2E281D;
    padding: 0 50px 0 20px;
    margin-bottom: 0;
  }

  &.open {
    .listDescription {
      max-height: 500px;
      opacity: 1;
      margin-bottom: 24px;
      padding: 0 50px 32px 20px;
    }
  }
}

.listTitle {
  width: 100%;
  background: none;
  border: none;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 32px 20px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;

  &:focus {
    outline: none;
  }
}

.icon {

}

@media screen and (max-width: 640px) {
  .wrapper {
    background-color: #FBF5EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .leftStar {
    display: none;
  }

  .title {
    font-size: 28px;
    margin: 58px 0 32px 0;
  }

  .list {
    margin-bottom: 48px;
  }

  .item {

    .listDescription {
      font-size: 18px;
      padding: 0 10px 0 20px;
    }

    &.open {
      .listDescription {
        margin-bottom: 24px;
        padding: 0 10px 0 20px;
      }
    }
  }

  .listTitle {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 12px 12px 20px;
  }

  .icon {

    img {
      height: 40px;
    }
  }
}