.wrapper {
  background-color: #FBF5EE;
}

.title {
  padding-top: 120px;
  font-size: 96px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

.awardsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 80px 0;
}

.mainImageWrapper {
  display: flex;
  justify-content: center;
}

.mainImage {

}

.footer {
  margin: 120px 0 -5px 0;
}

.footerItem {
  width: 99vw;
}