.wrapper {
  background-color: #FBF5EE;
}

.title {
  padding-top: 120px;
  font-size: 96px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

.awardsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 80px 0;
}

.mainImageWrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .wrapper {
    overflow: hidden;
  }
  .title {
    padding-top: 48px;
    font-size: 28px;
  }

  .awardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    &Item {
      height: 256px;
      margin: 32px 0;
    }
  }

  .mainImageWrapper {
  }

  .mainImage {
    margin-left: 5%;
  }
}