.wrapper {
  overflow-x: hidden;
  background-color: #FBF5EE;
  clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 100%);
}

.menuFoodStar {
  position: absolute;
  left: 75%;
  top: 800px;
  pointer-events: none;
}

.events {
  background-color: #FF5101;
  padding: 120px 0 145px 0;
  clip-path: polygon(0 0, 100% 40px, 100% 90%, 0 100%);
  position: relative;

  &Title {
    font-size: 96px;
    text-align: center;
    font-weight: 800;
    color: #FBF5EE;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 20px;
    margin: 64px 70px;

    &Item {
      max-width: 424px;
    }

    &Img {
      pointer-events: none;
    }

    &Title {
      font-size: 28px;
      color: #FBF5EE;
      margin: 16px 0 16px 0;
      font-weight: 600;
    }

    &SubTitle {
      font-size: 24px;
      color: #FBF5EE;
    }

    &Description {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &Price {
        font-size: 26px;
        color: #FBF5EE;
        margin-right: 10px;
      }

      &Weight {
        font-size: 24px;
        color: #FBF5EE;
      }
    }
  }
}

.main {
  padding-top: 80px;
  background-color: #FBF5EE;

  &Title {
    font-size: 96px;
    text-align: center;
    font-weight: 800;
    color: #2E281D;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 20px;
    margin: 64px 70px;

    &Item {
      max-width: 424px;
    }

    .lastSpecial {
      max-width: 868px;
      text-align: center;
    }

    &Img {
      pointer-events: none;
    }

    &Title {
      font-size: 28px;
      color: #2E281D;
      margin: 16px 0 16px 0;
      font-weight: 600;
    }

    &SubTitle {
      font-size: 24px;
      color: #2E281D;
    }

    &Description {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &Price {
        font-size: 26px;
        color: #2E281D;
        margin-right: 10px;
      }

      &Weight {
        font-size: 24px;
        color: #2E281D;
      }
    }
  }
}

.snacks {
  padding-top: 80px;
  background-color: #FBF5EE;

  &Title {
    font-size: 96px;
    text-align: center;
    font-weight: 800;
    color: #2E281D;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 20px;
    margin: 64px 70px;

    &Item {
      max-width: 424px;
    }

    &Img {
      pointer-events: none;
    }

    &Title {
      font-size: 28px;
      color: #2E281D;
      margin: 16px 0 16px 0;
      font-weight: 600;
    }

    &SubTitle {
      font-size: 24px;
      color: #2E281D;
    }

    &Description {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &Price {
        font-size: 26px;
        color: #2E281D;
        margin-right: 10px;
      }

      &Weight {
        font-size: 24px;
        color: #2E281D;
      }
    }
  }
}

.icons {
  margin: 0 5px 0 5px;
}

@media screen and (max-width: 640px) {
  .wrapper {
    clip-path: none;
  }

  .menuFoodStar {
   display: none;
  }

  .events {
    background-color: #FF5101;
    padding: 56px 0 0 0;
    clip-path: none;
    position: relative;

    &Title {
      font-size: 28px;
    }

    &List {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      justify-content: center;

      &Item {
        max-width: 256px;
        margin: 32px 0 32px 0;
      }

      &Item:first-child {
        margin: 0 0 32px 0;
      }

      &Img {
        pointer-events: none;

        &Item {
          height: 256px;
        }
      }

      &Title {
        font-size: 22px;
        margin: 16px 0 8px 0;
        font-weight: 700;
      }

      &SubTitle {
        font-size: 16px;
      }

      &Description {
        margin-top: 8px;

        &Price {
          font-size: 16px;
          margin-right: 5px;
        }

        &Weight {
          font-size: 16px;
        }
      }
    }
  }

  .main {
    padding-top: 32px;

    &Title {
      font-size: 28px;
    }

    &List {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      margin: 32px 0;
      justify-content: center;

      &Item {
        max-width: 256px;
        margin: 32px 0 32px 0;
      }

      &Item:first-child {
        margin: 0 0 32px 0;
      }

      .lastSpecial {
        display: none;
      }

      &Img {
        &Item {
          height: 256px;
        }
      }

      &Title {
        font-size: 22px;
        margin: 16px 0 8px 0;
        font-weight: 700;
      }

      &SubTitle {
        max-width: 256px;
        font-size: 16px;
      }

      &Description {
        margin-top: 8px;

        &Price {
          font-size: 16px;
          margin-right: 5px;
        }

        &Weight {
          font-size: 16px;
        }
      }
    }
  }

  .snacks {
    padding-top: 32px;

    &Title {
      font-size: 28px;
    }

    &List {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      margin: 32px 0;
      justify-content: center;

      &Item {
        max-width: 256px;
        margin: 32px 0 32px 0;
      }

      &Item:first-child {
        margin: 0 0 32px 0;
      }

      &Img {
        &Item {
          height: 256px;
        }
      }

      &Title {
        font-size: 22px;
        margin: 16px 0 8px 0;
        font-weight: 700;
      }

      &SubTitle {
        max-width: 256px;
        font-size: 16px;
      }

      &Description {
        margin-top: 8px;

        &Price {
          font-size: 16px;
          margin-right: 5px;
        }

        &Weight {
          font-size: 16px;
        }
      }
    }
  }

  .icons {
    margin: 0 5px 0 5px;
  }
}