.parallax {
  position: absolute;
  width: 130%;
  min-width: 800px;
  height: 108px;
  overflow: hidden;
  left: -15%;
  top: 0;
  pointer-events: none;
  z-index: 10;
  background: #FFE100;
  border-radius: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.scroller {
  display: flex;
  will-change: transform;
  align-items: center;
  height: 100%;
  font-size: 130px;
  font-weight: 900;
  color: #2E281D;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .parallax {
    position: absolute;
    width: 110%;
    min-width: 100px;
    height: 18px;
    overflow: hidden;
    left: -15%;
    top: 0;
    pointer-events: none;
    z-index: 10;
    background: #FFE100;
    border-radius: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .scroller {
    display: flex;
    will-change: transform;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 900;
    color: #2E281D;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    white-space: nowrap;
    pointer-events: none;
  }
}