.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  transition: transform 0.3s ease, background 0.3s ease;
  background: transparent;
  z-index: 1000;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

    .background {
      transition: height 0.3s ease;
    }

    .logo {
      top: 75% !important;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }
  }

  .burger,
  .reservation {
    flex: 0 0 auto;
    z-index: 1;
    cursor: pointer;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.3s ease;

    img {
      height: auto;
    }
  }
}

.background {
  position: absolute;
  width: 99vw;
  height: 160px;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  transition: height 0.3s ease;
}
.reservationMobile {
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .header {
    padding: 20px 12px;

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(0);
      background: rgba(255, 255, 255, 0.97);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

      .background {
        transition: height 0.3s ease;
      }

      .logo {
        top: 60% !important;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
      }
    }

    .burger {
      flex: 0 0 auto;
      z-index: 1;
      cursor: pointer;

      img {
        height: 32px;
      }
    }

    .reservation {
     display: none;
    }

    .reservationMobile {

    }

    .logo {
      left: 50%;
      top: 60%;

      img {
        height: 69px;
      }
    }
  }

  .background {
    width: 100vw;
    height: 84px;
  }
}