body {
  margin: 0;
  /*font-family: 'TT Neoris', sans-serif;*/
}

@font-face {
  font-family: 'TT Neoris';
  src: url('./assets/fonts/TTNeoris-Black.woff2') format('woff2'),
  url('./assets/fonts/TTNeoris-Black.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}